@model AmazonToo.Models.Product;

<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="img"><img src="@Model.Image" /></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="h3">@Model.Name</h3>
                    <p class="description">@Model.Description</p>
                    <br />
                    <h4 class="h4">Retail Price: <span class="badge badge-pill badge-primary">$@Model.Price</span></h4>
                    <br />
                    <form id="@Model.ProductID" asp-action="AddToCart"
                          asp-controller="Cart" method="post">
                        <input type="hidden" asp-for="ProductID" />
                        <input type="hidden" name="returnUrl"
                               value="/Page1" />
                        <button type="submit" class="btn btn-success" >Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
